{{outlet}}

<h2>Add a Broadcast</h2>

{{input value=broadcast.status placeholder="Status"}}
{{input value=broadcast.number placeholder="Number"}}

{{input value=broadcast.airdate}}
{{input value=broadcast.isAfterDark}}
{{input value=broadcast.isCharity}}
{{input value=broadcast.isCoworker}}
{{input value=broadcast.isFamily}}
{{input value=broadcast.isMarathon}}

{{view Ember.Select content=broadcast.games}}

<button {{action "saveBroadcast"}}>Save</button>
