<div class="line">
{{#if is_emote}}
  <span class="emoted">
    <span class="chatter" {{bind-attr style="style"}}><strong>{{username}}</strong></span>
    <span class="message" {{bind-attr style="style"}}>{{{message}}}</span>
  </span>
{{else}}
  <span class="chatter" {{bind-attr style="style"}}>
    <strong>{{username}}</strong>:
  </span>
  <span class="message">{{{message}}}</span>
  <span class="timestamp">{{timestamp}}</span>
{{/if}}
</div>
<ul class="chatter-roles">
{{#each role in role_list}}
  <li class="chatter-role role-{{role}}"><span></span></li>
{{/each}}
</ul>
